.btn {
  width: 4.2rem;
  height: 4.2rem;
  border: none;
  border-radius: 50%;
  background-color: var(--darkBlue);
  color: var(--mediumGrey);
  font-size: 1.4rem;
  line-height: 2.4rem;
  font-weight: 700;
  text-align: center;
}

.btn:hover {
  background-color: var(--orange);
  color: var(--white);
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .btn {
    width: 5.5rem;
    height: 5.5rem;
    font-size: 1.6rem;
  }
}
