@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

:root {
  --white: #ffffff;
  --lightGrey: #969fad;
  --mediumGrey: #7c8798;
  --darkBlue: #262e38;
  --dark: #181e27;
  --veryDarkBlue: #131518;
  --orange: #fc7614;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Overpass", sans-serif;
  background-color: var(--veryDarkBlue);
  overflow: hidden;
}
